# MySQL
MYSQL_VERSION=5.7
MYSQL_PORT=8306
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=wordpress

# Web
WEB_PORT=8001
WEB_ROOT_FOLDER=../../web/

# Gulp
TOOLSET_VERSION=1.1.2
BROWSERSYNC_PORT=8000
BROWSERSYNC_ADMIN_PORT=8002

# WordPress
WP_VERSION=4.9.8
WP_THEME_REPOSITORY=
WP_THEME_REPOSITORY_USER=
WP_THEME_REPOSITORY_PASSWORD=
WP_ADMIN_USER=kodeline
WP_ADMIN_EMAIL=soporte@kodeline.com